.navbar {
   height: 68px;
   top: 0px;
   /* margin-top: 3px; */
   box-shadow: 0px 1px hsla(0, 0%, 68%, 0.439);
   background-color: rgba(255, 255, 255, 0.941);
   align-items: center;
   justify-content: space-between;
}


.selectedCat {
   font-weight: 500;
   font-size: 14px;
   border: none;
   outline: none;
   background-color: #F3F3F3;
   padding: 12px;
}

.inputs {
   background-color: #f3f3f3;
   padding: 12px;
   outline: none;
   width: 280px;
   font-size: 14px;
   font-weight: 500;
   border: none;
}

/* .icon-tabler-search {
} */

.searchBtn {
   background-color: #3BB77E;
   color: white;
   border: none;
   gap: 5px;
   padding: 7px 15.5px;
}

.wishlistCart {
   gap: 20px;
}

.cart {
   gap: 1px;
}

.cartP,
.wishlistP {
   font-size: 12px;
   font-weight: 600;
}

.wishlist {
   gap: 1px;
}

.userData {
   gap: 10px;
   justify-content: center;
   align-items: center;
}

.userImage {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.userName {
   font-size: 16px;
   font-weight: 500;
}